<ion-header>
  <ion-toolbar class="header-background">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="card-view" (click)="openPage('/patientlist')">
        <ion-item lines="none">
          <ion-icon name="list-outline" slot="end" size="large"></ion-icon>
          <ion-label>Patients List</ion-label>
        </ion-item>
      </ion-card>
    <ion-card class="card-view" (click)="openPage('/addpatient')">
        <ion-item lines="none">
            <ion-icon name="person-add-outline" slot="end" size="large"></ion-icon>
          <ion-label>Add Patients</ion-label>
        </ion-item>
      </ion-card>
</ion-content>
