/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


@import url(https://use.fontawesome.com/releases/v5.7.2/css/all.css); 
// @import url(https://fonts.googleapis.com/css?family=Lato); 
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans); 
// @import "../font-awesome.css"; 

body {
    // font-family: 'Lato', sans-serif;
    font-family: 'Josefin Sans', sans-serif !important;
    ion-app.md {
        // font-family: 'Lato', sans-serif;
        font-family: 'Josefin Sans', sans-serif !important;
    }
}

* {
    font-family: 'Josefin Sans', sans-serif !important; 
}

/*colors*/
$color-button : #daaa2c;
$color-black: #000;
$color-white: #fff;
/*$color-brown: #a77c09;*/
// $color-brown: #c18d00;
$color-yellow: #ffbc41;
// $color-brown: #daaa2c;
$color-greenblack: #292f28;
$color-darkgrey: gray;
/*colors end*/

// #5a450d brown wala

/*classes*/
.btn-yellow {
    padding: 12px 40px 10px;
    height: 40px;
    border-radius: 6px;
    background-color: $color-yellow;
    color: $color-black;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    &:hover:not(.disable-hover) {
        background-color: $color-yellow;
        color: $color-black;
    }
}

.btn-round {
    border-radius: 25px;
}
.btn-full {
    width: 100%;
}
.btn-half-width {
    width: 50%;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.header-background {
    --background: #ffbc41;
    font-family: 'Josefin Sans', sans-serif !important;
}
